.article-header{
    background-color:rgb(178, 186, 192);
    color:rgb(58, 29, 8);
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 6px solid transparent;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    border-radius: 25px;
    margin: 25px;
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: row;
    flex-flow: wrap;
}

.section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.button {
    background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
    border-radius: 12px;
    float: right;
    margin: 5px;
}


/* className="text-xl  bg-gradient-to-r from-blue-400  to-red-400 text-white px-4 py-2 rounded-md ml-4" href='#' */